<div  class="form">
    
<%= form_for(@event) do |f| %>
    
      <div class="field-wrap">
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Title of event"%>
      </div>
      <div class="field-wrap">
        <%= f.label :venue %><br>
        <%= f.text_field :venue %>
      </div>
      <div class="field-wrap">
        <%= f.label :starts_at, value: "start time" %><br>
        <%= f.datetime_select :starts_at %>
      </div>
      <div class="field-wrap">
        <%= f.label :pic %><br>
        <%= f.text_field :pic %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>
</div>