<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>
<br>

<% if current_user %> <%= link_to( image_tag( "plus.png" , {size: '30x30'}), new_event_path) %><% end %>

<div class="row">
  <% @events.each do |event| %>  
  <div class="col-sm-8 col-xs-6 eventc">        
    <div class="panel panel-default">          
      <div class="panel-thumbnail">
        <img src="assets/event" class="img-fixed2">
      </div>          
      <div class="panel-body">            
        <p class="title"><%= link_to event.title, event %></p>            
        <p><%= event.venue %></p>
        <p><%= event.starts_at %></p>                    
        <p>
            <img src="http://api.randomuser.me/portraits/med/men/20.jpg" height="28px" width="28px">              
            <img src="http://api.randomuser.me/portraits/med/men/21.jpg" height="28px" width="28px">              
            <img src="http://api.randomuser.me/portraits/med/men/14.jpg" height="28px" width="28px">            
        </p>  
        <% if current_user && event.user == current_user %><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
        <% if current_user && event.user == current_user %><%= link_to 'Edit', edit_event_path(event) %><% end %>    
        <% if current_user && event.user == current_user %><%= link_to 'Sub', subscribes_path(event_id: event.id), method: :post %><% end %>
      </div>
    </div>      
  </div><!--/col-->            
  <% end %>                    
</div>
